

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    /* background-color: #222222; */
    background: radial-gradient(circle at 3% 24%, rgba(0, 28, 57, 1) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 1;
    color: white;
    transition: left 0.3s ease;
    padding-top: 60px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .toggle-btn {
    position: fixed;
    top: 100px;
    left: 0;
    /* background-color: #222222; */
    background: radial-gradient(circle at 3% 24%, rgba(0, 28, 57, 1) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.8;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: left 0.3s ease;
  }
  
  .sidebar.open .toggle-btn {
    left: 250px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #141414;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a i {
    margin-right: 10px;
  }
  
  .toggle-btn .fa-bars {
    font-size: 24px;
  }
  
  .toggle-btn .fa-times {
    font-size: 24px;
  }
  .sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease;
    transform: scale(1.05);
  }