<div [ngClass]="{'fade-out': !showSplash}" class="splash-screen d-flex flex-column">
    <div class="container text-center">
        <h1>PaySphere</h1>
            <h2>A smart financial ecosystem</h2>
            <div class="container w-70 text-center mt-md-5 mt-3 lead">
                <p>PaySphere is a comprehensive financial ecosystem designed to simplify transactions, enhance security, and provide seamless financial management for individuals and businesses.</p>
            <p>It provides seamless insights into your credit and debit card features, charges, lounge access, and more.</p>
            </div>
    </div>
  </div>
  