body, html {
    height: 100%;
    margin: 0;
}

/* search input */
.group {
display: flex;
line-height: 28px;
align-items: center;
position: relative;
max-width: 190px;
}

.input {
width: 100%;
height: 60px;
line-height: 28px;
padding: 0 1rem;
padding-left: 2.5rem;
border: 2px solid transparent;
border-radius: 8px;
outline: none;
background-color: #2e2e2ecc;
color: white;
transition: .3s ease;
}

.input::placeholder {
color: #f5f5f5;
}

.input:focus, input:hover {
outline: none;
border-color: rgba(234,76,137,0.4);
background-color: #3f3f3fcc;
box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
position: absolute;
left: 1rem;
fill: #9e9ea7;
width: 1rem;
height: 1rem;
}

/* list borders */
.list-group-item {
  border: none !important; /* Removes the border */
  background-color: #3f3f3fcc;
  color: white;
}

.custom-suggestion ul {
  background-color: black; /* Dark background */
  color: white; /* White text */
  border-radius: 5px; /* Optional rounded corners */
  padding: 0; /* Remove default padding */
}

.custom-suggestion li {
  background-color: rgb(37, 37, 37); /* Dark background for list items */
  color: white; /* White text */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.custom-suggestion li:hover {
  background-color: #6c757d; /* Grey hover effect */
}

  /* text css decoration */
  h1 {
    /* Gradient background */
    background: linear-gradient(90deg, rgba(4, 10, 60, 1) 7%, rgba(203, 212, 0, 1) 50%, rgba(226, 220, 226, 1) 100%);
  
    /* WebKit-based browsers (Chrome, Safari, Edge) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    /* Standard property (Currently not supported in most browsers) */
    background-clip: text;
    text-fill-color: transparent;
  }


/* background */
:host {
  display: block;
  background: rgb(19, 19, 19);
  color: white; /* Optional: Ensure text is visible */
  min-height: 100vh; /* Full height */
  width: 100%;
}

/* flip card */
.flip-card {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
  color: white;
}

.heading_8264 {
  position: absolute;
  letter-spacing: .2em;
  font-size: 0.5em;
  top: 2em;
  left: 18.6em;
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number {
  position: absolute;
  font-weight: bold;
  font-size: .6em;
  top: 8.3em;
  left: 1.6em;
}

.valid_thru {
  position: absolute;
  font-weight: bold;
  top: 635.8em;
  font-size: .01em;
  left: 140.3em;
}

.date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 13.6em;
  left: 3.2em;
}

.name {
  position: absolute;
  font-weight: bold;
  font-size: 0.5em;
  top: 16.1em;
  left: 2em;
}

.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}

.mstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 8em;
  height: 0.8em;
  top: 5em;
  left: .8em;
  border-radius: 2.5px;
}

.sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 0.8em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}

.code {
  font-weight: bold;
  text-align: center;
  margin: .2em;
  color: black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
}

.flip-card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
  transform: rotateY(180deg);
}

.search-custom {
  width: 50%;
}

/* For screens smaller than 768px (Bootstrap 'md') */
@media (max-width: 767.98px) {
  .search-custom {
    width: 100%;
  }
}

